a {
  color: #eba136;
}

.black{
    background-color: rgba(20,20,20,0.9);
}

.star{
    float: left;
    width: 29px;
    height: 28px;
    margin: 5px;
    background-size: 100% 100%;
}

.star_orange{
    background-image: url('../img/star_orange.png');

}

.star_empty{
    background-image: url('../img/star_empty.png');

}

.stars_container{
display: inline-block;
    margin: 0 auto;
}

.warn-red{
    color: red;
    font-size: 24px;
}